.title{
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.75rem;
  margin: 2.5rem 0;
}

.form__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
label{
  width: 240px;
}
.form__input{
  width: 100%;
}
input,textarea{
  width: 100%;
  border: 1px solid rgb(209 213 219);
  border-radius: .5rem;
  padding: 1rem;
}

.form__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.submit,.clear{
  font-weight: 700;
  border-radius: .5rem;
  padding: .5rem 1rem;
  cursor: pointer;
}
.submit{
  color: white;
  background-color: rgb(31 41 55);
  margin-right: 1rem;
}
.clear{
  background-color: rgb(229 231 235);
}
.error{
  color: rgb(185 28 28);
  font-size: 14px;
  padding: 8px 0 0;
}